<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image</title>
</head>
<body>
    <h1>Загрузите изображение</h1>
    <form action="{{ url_for('upload_pics') }}" method="post" enctype="multipart/form-data">
        <label for="title">Название:</label><br>
        <input type="text" id="title" name="title" required><br><br>
        <label for="file">Выберите файл:</label><br>
        <input type="file" id="file" name="file" accept="image/*" required><br><br>
        <input type="submit" value="Загрузить">
    </form>
</body>
</html>
